body {
  margin: 3vh 3vw;
  background: white;/*linear-gradient(180deg, rgba(15, 105, 165,60%), rgb(255, 255, 255));*/
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

